<% include ../partials/top %>


<% if(message.length >0){%>
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
    </div>
    <%}%>


<div class="card mt-3">
    <div class="card-body">
        <h2 class="card-title text-center">Category</h2>
        <form action="/add-category" method="POST">
            <div class="form-group mt-2">
                <label for="">Name: </label>
                <input name='name'  type="text" class="form-control" required>
            </div>
           
            <input type="submit" value='Submit' class="btn mt-2 btn-success">
        </form>
    </div>
</div>



<% include ../partials/bottom %>