<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
</head>

<body>
   

   
    <nav class="navbar navbar-expand-lg   navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% for(var i=0;i<categories.length ;i++){ %>
                            <a class="dropdown-item" href="#"><%= categories[i].name %></a>
                        <% } %>
            
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(user) { %>
                 <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
                 <li class="nav-item"><a class="nav-link" href="/user/profile">Profile</a></li>
                 <%}else{%>
                 
                     <li class="nav-item">
                         <a class="nav-link" href="/user/login">Login</a>
                       </li>
                       <li class="nav-item">
                         <a class="nav-link" href="/user/signup">Register</a>
                       </li>
                   <%}%>
             </ul>
        </div>
    </nav>
    <div class="container">